<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.afd.product.dao.BcAttributeMapper" >
  <resultMap id="BaseResultMap" type="com.afd.model.product.BcAttribute" >
    <id column="bc_attr_id" property="bcAttrId" jdbcType="INTEGER" />
    <result column="bc_id" property="bcId" jdbcType="SMALLINT" />
    <result column="attr_id" property="attrId" jdbcType="INTEGER" />
    <result column="display_order" property="displayOrder" jdbcType="TINYINT" />
    <result column="is_require" property="isRequire" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="is_filter" property="isFilter" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    bc_attr_id, bc_id, attr_id, display_order, is_require, status, is_filter
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_bc_attribute
    where bc_attr_id = #{bcAttrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_bc_attribute
    where bc_attr_id = #{bcAttrId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.afd.model.product.BcAttribute" >
    insert into t_bc_attribute (bc_attr_id, bc_id, attr_id, 
      display_order, is_require, status, 
      is_filter)
    values (#{bcAttrId,jdbcType=INTEGER}, #{bcId,jdbcType=SMALLINT}, #{attrId,jdbcType=INTEGER}, 
      #{displayOrder,jdbcType=TINYINT}, #{isRequire,jdbcType=CHAR}, #{status,jdbcType=CHAR}, 
      #{isFilter,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.afd.model.product.BcAttribute" >
    insert into t_bc_attribute
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bcAttrId != null" >
        bc_attr_id,
      </if>
      <if test="bcId != null" >
        bc_id,
      </if>
      <if test="attrId != null" >
        attr_id,
      </if>
      <if test="displayOrder != null" >
        display_order,
      </if>
      <if test="isRequire != null" >
        is_require,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isFilter != null" >
        is_filter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bcAttrId != null" >
        #{bcAttrId,jdbcType=INTEGER},
      </if>
      <if test="bcId != null" >
        #{bcId,jdbcType=SMALLINT},
      </if>
      <if test="attrId != null" >
        #{attrId,jdbcType=INTEGER},
      </if>
      <if test="displayOrder != null" >
        #{displayOrder,jdbcType=TINYINT},
      </if>
      <if test="isRequire != null" >
        #{isRequire,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="isFilter != null" >
        #{isFilter,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.afd.model.product.BcAttribute" >
    update t_bc_attribute
    <set >
      <if test="bcId != null" >
        bc_id = #{bcId,jdbcType=SMALLINT},
      </if>
      <if test="attrId != null" >
        attr_id = #{attrId,jdbcType=INTEGER},
      </if>
      <if test="displayOrder != null" >
        display_order = #{displayOrder,jdbcType=TINYINT},
      </if>
      <if test="isRequire != null" >
        is_require = #{isRequire,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="isFilter != null" >
        is_filter = #{isFilter,jdbcType=CHAR},
      </if>
    </set>
    where bc_attr_id = #{bcAttrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.afd.model.product.BcAttribute" >
    update t_bc_attribute
    set bc_id = #{bcId,jdbcType=SMALLINT},
      attr_id = #{attrId,jdbcType=INTEGER},
      display_order = #{displayOrder,jdbcType=TINYINT},
      is_require = #{isRequire,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      is_filter = #{isFilter,jdbcType=CHAR}
    where bc_attr_id = #{bcAttrId,jdbcType=INTEGER}
  </update>
</mapper>