<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.afd.product.dao.BcSpecMapper" >
  <resultMap id="BaseResultMap" type="com.afd.model.product.BcSpec" >
    <id column="bc_spec_id" property="bcSpecId" jdbcType="DECIMAL" />
    <result column="bc_id" property="bcId" jdbcType="DECIMAL" />
    <result column="spec_id" property="specId" jdbcType="DECIMAL" />
    <result column="display_order" property="displayOrder" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="is_filter" property="isFilter" jdbcType="CHAR" />
  </resultMap>
  
  <resultMap id="ExtResultMap" type="com.afd.model.product.vo.BcSpecVO" extends="BaseResultMap">
    <result column="SPEC_NAME" jdbcType="VARCHAR" property="specName" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    bc_spec_id, bc_id, spec_id, display_order, status, is_filter
  </sql>
  
  <select id="getBcSpecById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_bc_spec
    where bc_spec_id = #{bcSpecId,jdbcType=DECIMAL}
  </select>
  
  <delete id="deleteBcSpecById" parameterType="java.lang.Long" >
    delete from t_bc_spec
    where bc_spec_id = #{bcSpecId,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insertBcSpec" parameterType="com.afd.model.product.BcSpec" useGeneratedKeys="true" keyProperty="bcSpecId" >
    insert into t_bc_spec (bc_id, spec_id, 
      display_order, status, is_filter
      )
    values (#{bcId,jdbcType=DECIMAL}, #{specId,jdbcType=DECIMAL}, 
      #{displayOrder,jdbcType=DECIMAL}, #{status,jdbcType=CHAR}, #{isFilter,jdbcType=CHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.afd.model.product.BcSpec" >
    insert into t_bc_spec
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bcSpecId != null" >
        bc_spec_id,
      </if>
      <if test="bcId != null" >
        bc_id,
      </if>
      <if test="specId != null" >
        spec_id,
      </if>
      <if test="displayOrder != null" >
        display_order,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isFilter != null" >
        is_filter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bcSpecId != null" >
        #{bcSpecId,jdbcType=DECIMAL},
      </if>
      <if test="bcId != null" >
        #{bcId,jdbcType=DECIMAL},
      </if>
      <if test="specId != null" >
        #{specId,jdbcType=DECIMAL},
      </if>
      <if test="displayOrder != null" >
        #{displayOrder,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="isFilter != null" >
        #{isFilter,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateBcSpecById" parameterType="com.afd.model.product.BcSpec" >
    update t_bc_spec
    <set >
      <if test="bcId != null" >
        bc_id = #{bcId,jdbcType=DECIMAL},
      </if>
      <if test="specId != null" >
        spec_id = #{specId,jdbcType=DECIMAL},
      </if>
      <if test="displayOrder != null" >
        display_order = #{displayOrder,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="isFilter != null" >
        is_filter = #{isFilter,jdbcType=CHAR},
      </if>
    </set>
    where bc_spec_id = #{bcSpecId,jdbcType=DECIMAL}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.afd.model.product.BcSpec" >
    update t_bc_spec
    set bc_id = #{bcId,jdbcType=DECIMAL},
      spec_id = #{specId,jdbcType=DECIMAL},
      display_order = #{displayOrder,jdbcType=DECIMAL},
      status = #{status,jdbcType=CHAR},
      is_filter = #{isFilter,jdbcType=CHAR}
    where bc_spec_id = #{bcSpecId,jdbcType=DECIMAL}
  </update>
  
  <update id="updateBcSpecOrders" >
    update T_BC_SPEC
    set DISPLAY_ORDER = DISPLAY_ORDER + #{value}
    where BC_ID = #{bcId,jdbcType=DECIMAL} and 
    <choose>
		<when test="value &gt; 0">
			DISPLAY_ORDER &lt; #{order} 
		</when>
		<when test="value &lt; 0">
			DISPLAY_ORDER &gt; #{order} 
		</when>
	</choose>
	 and STATUS=1
  </update>
  
  <select id="getBcSpecByBcId" resultMap="ExtResultMap"> 
	SELECT bcs.BC_SPEC_ID, bcs.BC_ID, bcs.SPEC_ID, bcs.DISPLAY_ORDER, bcs.STATUS,
	bcs.IS_FILTER, s.SPEC_NAME
	FROM T_BC_SPEC bcs, T_SPEC s
	<where> 
		<if test="bcId != null">
			bcs.BC_ID = #{bcId,jdbcType=DECIMAL}
		</if>
		<if test="status != null">
			and bcs.STATUS = #{status,jdbcType=CHAR}
		</if>
		<if test="true">
			and bcs.SPEC_ID = s.SPEC_ID
		</if>
	</where>
	ORDER BY bcs.DISPLAY_ORDER ASC
  </select> 
  
  <select id="getBcIdBySpecId" resultType="java.lang.Long">
    select BC_ID from T_BC_SPEC
    <where>
    	<if test="specId != null">
			SPEC_ID = #{specId,jdbcType=DECIMAL}
		</if>
		<if test="status != null">
			and STATUS = #{status,jdbcType=CHAR}
		</if>
    </where>
  </select>
  
</mapper>