<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.afd.product.dao.BrandShowDetailMapper" >
  <resultMap id="BaseResultMap" type="com.afd.model.product.BrandShowDetail" >
    <id column="b_s_d_id" property="bSDId" jdbcType="DECIMAL" />
    <result column="brand_show_id" property="brandShowId" jdbcType="DECIMAL" />
    <result column="prod_id" property="prodId" jdbcType="DECIMAL" />
    <result column="prod_code" property="prodCode" jdbcType="VARCHAR" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="sku_id" property="skuId" jdbcType="DECIMAL" />
    <result column="prod_name" property="prodName" jdbcType="VARCHAR" />
    <result column="prod_title" property="prodTitle" jdbcType="VARCHAR" />
    <result column="prod_img" property="prodImg" jdbcType="VARCHAR" />
    <result column="sku_spec_name" property="skuSpecName" jdbcType="VARCHAR" />
    <result column="show_price" property="showPrice" jdbcType="DECIMAL" />
    <result column="show_balance" property="showBalance" jdbcType="DECIMAL" />
    <result column="sale_amount" property="saleAmount" jdbcType="DECIMAL" />
    <result column="purchase_count_limit" property="purchaseCountLimit" jdbcType="SMALLINT" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_by_date" property="createByDate" jdbcType="TIMESTAMP" />
    <result column="create_by_name" property="createByName" jdbcType="VARCHAR" />
    <result column="remove_date" property="removeDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    b_s_d_id, brand_show_id, prod_id, prod_code, sku_code, sku_id, prod_name, prod_title, 
    prod_img, sku_spec_name, show_price, show_balance, sale_amount, purchase_count_limit, 
    start_date, end_date, status, create_by_date, create_by_name, remove_date
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_brand_show_detail
    where b_s_d_id = #{bSDId,jdbcType=DECIMAL}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_brand_show_detail
    where b_s_d_id = #{bSDId,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insert" parameterType="com.afd.model.product.BrandShowDetail" useGeneratedKeys="true" keyProperty="bSDId" >
    insert into t_brand_show_detail (brand_show_id, prod_id, 
      prod_code, sku_code, sku_id, 
      prod_name, prod_title, prod_img, 
      sku_spec_name, show_price, show_balance, 
      sale_amount, purchase_count_limit, start_date, 
      end_date, status, create_by_date, 
      create_by_name, remove_date)
    values (#{brandShowId,jdbcType=DECIMAL}, #{prodId,jdbcType=DECIMAL}, 
      #{prodCode,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR}, #{skuId,jdbcType=DECIMAL}, 
      #{prodName,jdbcType=VARCHAR}, #{prodTitle,jdbcType=VARCHAR}, #{prodImg,jdbcType=VARCHAR}, 
      #{skuSpecName,jdbcType=VARCHAR}, #{showPrice,jdbcType=DECIMAL}, #{showBalance,jdbcType=DECIMAL}, 
      #{saleAmount,jdbcType=DECIMAL}, #{purchaseCountLimit,jdbcType=SMALLINT}, #{startDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}, #{createByDate,jdbcType=TIMESTAMP}, 
      #{createByName,jdbcType=VARCHAR}, #{removeDate,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.afd.model.product.BrandShowDetail" >
    insert into t_brand_show_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bSDId != null" >
        b_s_d_id,
      </if>
      <if test="brandShowId != null" >
        brand_show_id,
      </if>
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="prodCode != null" >
        prod_code,
      </if>
      <if test="skuCode != null" >
        sku_code,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="prodName != null" >
        prod_name,
      </if>
      <if test="prodTitle != null" >
        prod_title,
      </if>
      <if test="prodImg != null" >
        prod_img,
      </if>
      <if test="skuSpecName != null" >
        sku_spec_name,
      </if>
      <if test="showPrice != null" >
        show_price,
      </if>
      <if test="showBalance != null" >
        show_balance,
      </if>
      <if test="saleAmount != null" >
        sale_amount,
      </if>
      <if test="purchaseCountLimit != null" >
        purchase_count_limit,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createByDate != null" >
        create_by_date,
      </if>
      <if test="createByName != null" >
        create_by_name,
      </if>
      <if test="removeDate != null" >
        remove_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bSDId != null" >
        #{bSDId,jdbcType=DECIMAL},
      </if>
      <if test="brandShowId != null" >
        #{brandShowId,jdbcType=DECIMAL},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=DECIMAL},
      </if>
      <if test="prodCode != null" >
        #{prodCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=DECIMAL},
      </if>
      <if test="prodName != null" >
        #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodTitle != null" >
        #{prodTitle,jdbcType=VARCHAR},
      </if>
      <if test="prodImg != null" >
        #{prodImg,jdbcType=VARCHAR},
      </if>
      <if test="skuSpecName != null" >
        #{skuSpecName,jdbcType=VARCHAR},
      </if>
      <if test="showPrice != null" >
        #{showPrice,jdbcType=DECIMAL},
      </if>
      <if test="showBalance != null" >
        #{showBalance,jdbcType=DECIMAL},
      </if>
      <if test="saleAmount != null" >
        #{saleAmount,jdbcType=DECIMAL},
      </if>
      <if test="purchaseCountLimit != null" >
        #{purchaseCountLimit,jdbcType=SMALLINT},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createByDate != null" >
        #{createByDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createByName != null" >
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="removeDate != null" >
        #{removeDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.afd.model.product.BrandShowDetail" >
    update t_brand_show_detail
    <set >
      <if test="brandShowId != null" >
        brand_show_id = #{brandShowId,jdbcType=DECIMAL},
      </if>
      <if test="prodId != null" >
        prod_id = #{prodId,jdbcType=DECIMAL},
      </if>
      <if test="prodCode != null" >
        prod_code = #{prodCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=DECIMAL},
      </if>
      <if test="prodName != null" >
        prod_name = #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodTitle != null" >
        prod_title = #{prodTitle,jdbcType=VARCHAR},
      </if>
      <if test="prodImg != null" >
        prod_img = #{prodImg,jdbcType=VARCHAR},
      </if>
      <if test="skuSpecName != null" >
        sku_spec_name = #{skuSpecName,jdbcType=VARCHAR},
      </if>
      <if test="showPrice != null" >
        show_price = #{showPrice,jdbcType=DECIMAL},
      </if>
      <if test="showBalance != null" >
        show_balance = #{showBalance,jdbcType=DECIMAL},
      </if>
      <if test="saleAmount != null" >
        sale_amount = #{saleAmount,jdbcType=DECIMAL},
      </if>
      <if test="purchaseCountLimit != null" >
        purchase_count_limit = #{purchaseCountLimit,jdbcType=SMALLINT},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createByDate != null" >
        create_by_date = #{createByDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createByName != null" >
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="removeDate != null" >
        remove_date = #{removeDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where b_s_d_id = #{bSDId,jdbcType=DECIMAL}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.afd.model.product.BrandShowDetail" >
    update t_brand_show_detail
    set brand_show_id = #{brandShowId,jdbcType=DECIMAL},
      prod_id = #{prodId,jdbcType=DECIMAL},
      prod_code = #{prodCode,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=DECIMAL},
      prod_name = #{prodName,jdbcType=VARCHAR},
      prod_title = #{prodTitle,jdbcType=VARCHAR},
      prod_img = #{prodImg,jdbcType=VARCHAR},
      sku_spec_name = #{skuSpecName,jdbcType=VARCHAR},
      show_price = #{showPrice,jdbcType=DECIMAL},
      show_balance = #{showBalance,jdbcType=DECIMAL},
      sale_amount = #{saleAmount,jdbcType=DECIMAL},
      purchase_count_limit = #{purchaseCountLimit,jdbcType=SMALLINT},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR},
      create_by_date = #{createByDate,jdbcType=TIMESTAMP},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      remove_date = #{removeDate,jdbcType=TIMESTAMP}
    where b_s_d_id = #{bSDId,jdbcType=DECIMAL}
  </update>
  
  <select id="getBrandShowDetailsByIds" resultMap="BaseResultMap">
    select
	<include refid="Base_Column_List" />
	from t_brand_show_detail
	where b_s_d_id in 
	<foreach collection="brandShowDetailIds" item="brandShowDetailId" open="(" separator="," close=")">
		#{brandShowDetailId}
	</foreach>
  </select>
</mapper>