<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.afd.product.dao.SpecMapper" >
  <resultMap id="BaseResultMap" type="com.afd.model.product.Spec" >
    <id column="spec_id" property="specId" jdbcType="DECIMAL" />
    <result column="spec_name" property="specName" jdbcType="VARCHAR" />
    <result column="pingyin" property="pingyin" jdbcType="VARCHAR" />
    <result column="show_mode" property="showMode" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_by_name" property="createByName" jdbcType="VARCHAR" />
    <result column="create_by_date" property="createByDate" jdbcType="TIMESTAMP" />
    <result column="last_update_by_name" property="lastUpdateByName" jdbcType="VARCHAR" />
    <result column="last_update_by_date" property="lastUpdateByDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    spec_id, spec_name, pingyin, show_mode, status, create_by_name, create_by_date, last_update_by_name, 
    last_update_by_date
  </sql>
  
  <select id="getSpecById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_spec
    where spec_id = #{specId,jdbcType=DECIMAL}
  </select>
  
  <delete id="deleteSpecById" parameterType="java.lang.Long" >
    update T_SPEC
    set STATUS = '0'
    where SPEC_ID = #{specId,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insertSpec" parameterType="com.afd.model.product.Spec" useGeneratedKeys="true" keyProperty="specId" >
    insert into t_spec (spec_name, pingyin, 
      show_mode, status, create_by_name, 
      create_by_date, last_update_by_name, last_update_by_date
      )
    values (#{specName,jdbcType=VARCHAR}, #{pingyin,jdbcType=VARCHAR}, 
      #{showMode,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{createByName,jdbcType=VARCHAR}, 
      #{createByDate,jdbcType=TIMESTAMP}, #{lastUpdateByName,jdbcType=VARCHAR}, #{lastUpdateByDate,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.afd.model.product.Spec" >
    insert into t_spec
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="specId != null" >
        spec_id,
      </if>
      <if test="specName != null" >
        spec_name,
      </if>
      <if test="pingyin != null" >
        pingyin,
      </if>
      <if test="showMode != null" >
        show_mode,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createByName != null" >
        create_by_name,
      </if>
      <if test="createByDate != null" >
        create_by_date,
      </if>
      <if test="lastUpdateByName != null" >
        last_update_by_name,
      </if>
      <if test="lastUpdateByDate != null" >
        last_update_by_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="specId != null" >
        #{specId,jdbcType=DECIMAL},
      </if>
      <if test="specName != null" >
        #{specName,jdbcType=VARCHAR},
      </if>
      <if test="pingyin != null" >
        #{pingyin,jdbcType=VARCHAR},
      </if>
      <if test="showMode != null" >
        #{showMode,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createByName != null" >
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createByDate != null" >
        #{createByDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateByName != null" >
        #{lastUpdateByName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateByDate != null" >
        #{lastUpdateByDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateSpecById" parameterType="com.afd.model.product.Spec" >
    update t_spec
    <set >
      <if test="specName != null" >
        spec_name = #{specName,jdbcType=VARCHAR},
      </if>
      <if test="pingyin != null" >
        pingyin = #{pingyin,jdbcType=VARCHAR},
      </if>
      <if test="showMode != null" >
        show_mode = #{showMode,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createByName != null" >
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createByDate != null" >
        create_by_date = #{createByDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateByName != null" >
        last_update_by_name = #{lastUpdateByName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateByDate != null" >
        last_update_by_date = #{lastUpdateByDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where spec_id = #{specId,jdbcType=DECIMAL}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.afd.model.product.Spec" >
    update t_spec
    set spec_name = #{specName,jdbcType=VARCHAR},
      pingyin = #{pingyin,jdbcType=VARCHAR},
      show_mode = #{showMode,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      create_by_date = #{createByDate,jdbcType=TIMESTAMP},
      last_update_by_name = #{lastUpdateByName,jdbcType=VARCHAR},
      last_update_by_date = #{lastUpdateByDate,jdbcType=TIMESTAMP}
    where spec_id = #{specId,jdbcType=DECIMAL}
  </update>
  
  <select id="getSpecByName" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from T_SPEC
    <where> 
		<if test="specName!=null and specName!=''">  
			SPEC_NAME = #{specName,jdbcType=DECIMAL}
		</if>
		<if test="status != null">
			and STATUS = #{status,jdbcType=CHAR}
		</if>
	</where>
  </select>
  
  <select id="getSpecByPage" resultMap="BaseResultMap"> 
	SELECT <include refid="Base_Column_List" />
	FROM T_SPEC 
	<where> 
		<if test="cond.specName!=null and cond.specName!=''">  
			<bind name="specName" value="'%' + cond.specName + '%'" />
			SPEC_NAME LIKE #{specName} 
		</if>
		<if test="cond.pingyin != null">
			<bind name="pingyin" value="'%' + cond.pingyin + '%'" />
			and PINGYIN LIKE #{pingyin,jdbcType=VARCHAR}
		</if>
		<if test="cond.status != null">
			and STATUS = #{cond.status,jdbcType=CHAR}
		</if>
		<if test="cond.startDt != null" >
		 	and CREATE_BY_DATE &gt;= #{cond.startDt,jdbcType=TIMESTAMP}
	    </if>
	    <if test="cond.endDt != null" >
		 	and CREATE_BY_DATE &lt;= #{cond.endDt,jdbcType=TIMESTAMP}
	    </if>
	</where>
	ORDER BY SPEC_ID ${cond.order}
  </select>
  
  <select id="getSpecs" resultMap="BaseResultMap"> 
	SELECT <include refid="Base_Column_List" />
	FROM T_SPEC 
	<where> 
		<if test="cond.specName!=null and cond.specName!=''">  
			<bind name="specName" value="'%' + cond.specName + '%'" />
			SPEC_NAME LIKE #{specName} 
		</if>
		<if test="cond.pingyin != null">
			<bind name="pingyin" value="'%' + cond.pingyin + '%'" />
			PINGYIN LIKE #{pingyin,jdbcType=VARCHAR},
		</if>
		<if test="cond.status != null">
			and STATUS = #{cond.status,jdbcType=CHAR}
		</if>
		<if test="cond.startDt != null" >
		 	and CREATE_BY_DATE &gt;= #{cond.startDt,jdbcType=TIMESTAMP}
	    </if>
	    <if test="cond.endDt != null" >
		 	and CREATE_BY_DATE &lt;= #{cond.endDt,jdbcType=TIMESTAMP}
	    </if>
	</where>
	<choose>
		<when test="cond.order != null">
			ORDER BY SPEC_ID ${cond.order}
		</when>
		<otherwise>
			ORDER BY SPEC_ID DESC
		</otherwise>
	</choose>
  </select> 
  
  
</mapper>