<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

	<dubbo:protocol name="dubbo" dispatcher="all"
		threadpool="fixed" threads="100" port="9092" buffer="4096" server="netty"
		client="netty" serialization="hessian2" />
	<dubbo:provider timeout="3000" retries="0" cluster="failover"
		loadbalance="random" />

	<dubbo:service interface="com.afd.service.product.ICategoryService"
		ref="categoryService" />
	<dubbo:service interface="com.afd.service.product.IAttributeService"
		ref="attributeService" />
	<dubbo:service interface="com.afd.service.product.IBrandService"
		ref="brandService" />
	<dubbo:service interface="com.afd.service.product.ISpecService"
		ref="specService" />


	<dubbo:service interface="com.afd.service.product.IProductService"
		ref="productService" />
	<dubbo:service interface="com.afd.service.product.IBrandShowService"
		ref="brandShowService" />
	<dubbo:service interface="com.afd.service.product.ISellerBrandService"
		ref="sellerBrandService" />
</beans>
